# Python
__pycache__/
*.pyc

# Environnement virtuel
venv/

# Base locale
*.db

# Logs
logs/*.log

# Secrets
.env

# Modèles IA
models/

# Configuration privée
config/private.yaml
# Qdrant
Qdrant/

# Local database files
database/*.db
database/*.sqlite

# SQLite tools
database/sqlite-tools*/